<div class="card mat-card">
    <div class="card-titles">
      <h2>Aptitudes y validaciones</h2>
      <button type="button" class="btn btn-light">
        Añadir una aptitud nueva
      </button>
      <button type="button" class="btn btn-light">
        Hacer un test de aptitudes
      </button>
      <div class="btn-edit">
        <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
      </div>
    </div>
    <ol class="items-list">
      <li>
        <div class="aptitude-info">
          <a href="#">
            <p><span>Resolución de problemas</span> - 2</p>
            <p>
              <span>Jablonski y 2</span> contacto han validado esta aptitud.
            </p>
          </a>
        </div>
      </li>
    </ol>
  </div>
