<div class="card mat-card">
    <div id="experience">
      <div class="card-titles">
        <h2>Experiencia</h2>
        <div class="btn-edit">
          <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
        </div>
      </div>
      <div>
        <ul class="items-list">
          <li>
            <div class="data-container">
              <a href="#">
                <div class="logo-image-container">
                  <img
                    class="logo-image"
                    src="https://media-exp1.licdn.com/dms/image/C4E0BAQFhOoraRhsOSQ/company-logo_100_100/0/1590421269154?e=1637798400&v=beta&t=gyinTA0GPG1xIBDPj01L33mQHcdOdyMOdpoRHY640Pc"
                  />
                </div>
                <div class="list-info">
                  <div>
                    <h3>Backend Developer</h3>
                    <p>Pixar - <span>Jornada parcial</span></p>
                    <h4>mar 2019 – actualidad - 2 años y 6 meses</h4>
                    <h4>Buenos Aires, Argentina</h4>
                  </div>
                </div>
              </a>
            </div>
            <div class="data-control">
              <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="education">
      <div class="card-titles">
        <h2>Educación</h2>
        <div class="btn-edit">
          <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
        </div>
      </div>
      <div>
        <ul class="items-list">
          <li *ngFor="let educacion of educacionList">
            <div class="data-container">
              <a href="#">
                <div class="logo-image-container">
                  <img
                    class="logo-image"
                    [src]="educacion.img"
                  />
                </div>
                <div class="list-info">
                  <div>
                    <h3>{{educacion.school}}</h3>
                    <p>{{educacion.career}}</p>
                    <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
                  </div>
                </div>
              </a>
            </div>
            <div class="data-control">
              <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
